/**
 * Card
 *
 * A card is a flexible and extensible content container.
 *
 * @level X.X.
 * @markup
 * <div class="o-grid o-grid--spaced">
 *   <div class="o-grid__item u-width--12 u-width--m--4">
 *     <div class="c-card">
 *       <div class="c-card__full">
 *         <img src="http://placehold.it/288x190" alt="">
 *       </div>
 *       <h4>Lorem Ipsum</h4>
 *       <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</p>
 *     </div>
 *   </div>
 *   <div class="o-grid__item u-width--12 u-width--m--4">
 *     <div class="c-card">
 *       <h4>Lorem Ipsum</h4>
 *       <div class="c-card__full">
 *         <img src="http://placehold.it/288x190" alt="">
 *       </div>
 *       <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</p>
 *     </div>
 *   </div>
 *   <div class="o-grid__item u-width--12 u-width--m--4">
 *     <div class="c-card">
 *       <h4>Lorem Ipsum</h4>
 *       <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</p>
 *       <div class="c-card__full">
 *         <img src="http://placehold.it/288x190" alt="">
 *       </div>
 *     </div>
 *   </div>
 * </div>
 */
.c-card {
  padding: $spacing-s;
  box-shadow: 0 0 0.5em rgba($cs-grey-c, 0.5);
}

.c-card__full {
  margin-right: -$spacing-s;
  margin-left: -$spacing-s;
  &:first-child {
    margin-top: -$spacing-s;
  }
  &:last-child {
    margin-bottom: -$spacing-s;
  }
  * + &,
  + * {
    margin-top: strip-unit($spacing-m) * 1rem;
  }
}
