@import 'avalanchesass_object_island';
@import 'avalanchesass_component_card/style_guide';
@import 'avalanchesass_component_card/variable';
@import 'avalanchesass_component_card/mixin';

/* extract component.css */
/* extract component_card.css */
/*---
title:   Example
name:    component_card_example
section: component_card
order:   1
---

```example:html
<div class="#{$c-card-namespace}" style="width: 288px;">
  <img class="#{$c-card-namespace}__figure" src="http://placehold.it/288x190" alt="">
  <div class="o-island">
    <h4>Lorem Ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</p>
  </div>
</div>
<div class="#{$c-card-namespace}" style="width: 288px; margin-top: 1em;">
  <div class="#{$o-island-namespace}">
    <h4>Lorem Ipsum</h4>
  </div>
  <img class="#{$c-card-namespace}__figure" src="http://placehold.it/288x190" alt="">
  <div class="#{$o-island-namespace}">
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</p>
  </div>
</div>
<div class="#{$c-card-namespace}" style="width: 288px; margin-top: 1em;">
  <div class="#{$o-island-namespace}">
    <h4>Lorem Ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</p>
  </div>
  <img class="#{$c-card-namespace}__figure" src="http://placehold.it/288x190" alt="">
</div>
```
*/
.#{$c-card-namespace} {
  @include c-card($c-card-border-color, $c-card-background-color);
}

.#{$c-card-namespace}__figure {
  @include c-card-figure();
}

@if $c-card-section {
  /*---
  title:   Section
  name:    component_card_example_section
  section: component_card_example
  order:   1
  ---

  ```example:html
<div class="#{$c-card-namespace}" style="width: 288px;">
  <img class="#{$c-card-namespace}__figure" src="http://placehold.it/288x190" alt="">
  <div class="o-island c-card__section">
    <h4>Lorem Ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</p>
  </div>
  <div class="o-island c-card__section">
    <h4>Lorem Ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</p>
  </div>
</div>
  ```
  */
  .#{$c-card-namespace}__section {
    @include c-card-section($c-card-section-border-color);
  }
}

@if $c-card-list {
  /*---
  title:   List
  name:    component_card_example_list
  section: component_card_example
  order:   1
  ---

  ```example:html
<div class="#{$c-card-namespace}" style="width: 288px;">
  <img class="#{$c-card-namespace}__figure" src="http://placehold.it/288x190" alt="">
  <div class="o-island">
    <h4>Lorem Ipsum</h4>
    <ul class="#{$c-card-namespace}__list">
      <li class="#{$c-card-namespace}__list-item">List item 1</li>
      <li class="#{$c-card-namespace}__list-item">List item 2</li>
      <li class="#{$c-card-namespace}__list-item">List item 3</li>
    </ul>
  </div>
</div>
  ```
  */
  .#{$c-card-namespace}__list {
    @include c-card-list();
  }

  .#{$c-card-namespace}__list-item {
    @include c-card-list-item($c-card-list-item-spacing, $c-card-list-item-border-color);
  }
}
/* end extract component_card.css */
/* end extract component.css */
