@import 'avalanchesass_component_card/style_guide';

/*---
title:   Mixin
name:    component_card_mixin
section: component_card
order:   2
---

```css
// Card.
c-card([$-border-color: map-get($cs-grey, a)[, $-background-color: #fff]])

// Card figure.
c-card-figure()

// Card section.
c-card-section([$-border-color: map-get($cs-grey, a)])

// Card list.
c-card-list()

// Card list item.
c-card-list-item([$-spacing: map-get($spacing, xs)[, $-border-color: map-get($cs-grey, a)]])
```
*/
@mixin c-card($-border-color: map-get($cs-grey, a), $-background-color: #fff) {
  background-color: $-background-color;
  @if $-border-color {
    border: 1px solid $-border-color;
  }
}

@mixin c-card-figure() {
  margin-top: 0;
}

@mixin c-card-section($-border-color: map-get($cs-grey, a)) {
  @if $-border-color {
    &:not(:first-child) {
      border-top: 1px solid $-border-color;
    }
    .#{$c-card-namespace}__figure + & {
      border-top: none;
    }
  }
}

@mixin c-card-list() {
  padding-left: 0;
  list-style-type: none;
}

@mixin c-card-list-item($-spacing: map-get($spacing, xs), $-border-color: map-get($cs-grey, a)) {
  &:not(:first-child) {
    padding-top: $-spacing;
    @if $-border-color {
      border-top: 1px solid $-border-color;
    }
  }
  &:not(:last-child) {
    padding-bottom: $-spacing;
  }
}
